fastapi==0.111.0 #For the API
uvicorn==0.27.0.post1 #ASGI server for FastAPI
python-dotenv==1.0.1 #For environment variable management
faiss-cpu==1.7.4 #For efficient similarity search; vector db for retrieval
tiktoken==0.5.1 #For token counting and encoding
requests==2.31.0 #For making HTTP requests 
numpy==1.26.4 #For numerical operations; used by FAISS